<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/themify-icons.css")
    @Styles.Render("~/Content/paper-dashboard.css")
        @Styles.Render("~/Content/paper-bootstrap-wizard.css")
        <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>

    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/paper-dashboard.js")
        @Scripts.Render("~/Scripts/chartist.min.js")


    @Scripts.Render("~/Scripts/bootstrap-notify.js")
    @Scripts.Render("~/Scripts/jquery.bootstrap.wizard.js")
    @Scripts.Render("~/Scripts/paper-bootstrap-wizard.js")

    @RenderSection("scripts", required: false)
</body>
</html>
