<div class="sidebar" data-background-color="black" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="logo">
                <a class="simple-text">

                    <img style="max-width:100%" src="~/Resources/PBVUSDLOGO.png" />Minutes<br />


                </a>
            </div>
        </div>
        <div class="col-xs-12">
            <ul class="nav">
                <li id="Dashboard">
                    @Html.ActionLink("Dashboard", "Index", "Teacher")
                </li>
                <li id="CreateMinutes">
                    @Html.ActionLink("New Minute", "Create", "Teacher")
                </li>
                <li id="Reports">
                    @Html.ActionLink("Last 60 Days", "Manage", "Teacher")
                </li>
                <li id="Approvals">
                    @Html.ActionLink("Approvals", "Approve", "Teacher")
                </li>
                <li>
                    @Html.ActionLink("Log Out", "Logout", new { Controller = "Authentication", action = "Logout" }, new { @class = "visible-sm visible-xs" })
                </li>
            </ul>
        </div>
    </div>
</div>
