@model PEMinutes.ViewModels.PrincipalIndexViewModel

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_PrincipalSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_PrincipalTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Overview</h4>
                            <p class="category">Minutes for each teacher over the last ten school days</p>
                        </div>
                        <div class="content">
                            <div class="ct-chart"></div> @*The graph of the last 2 weeks minutes*@
                        </div>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="header">
                                    <div class="content">
                                        <h4 class="title">Teachers Meeting Requirements</h4>
                                        <p class="category">Teachers that are meeting the requirements over the last ten school days</p>
                                    </div>
                                    <table class="table" id="MeetReq">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Teacher
                                                </th>
                                                <th>
                                                    Minutes
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.MeetReq)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TeacherName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Minutes)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="header">
                                    <div class="content">
                                        <h4 class="title">Teachers Falling Behind</h4>
                                        <p class="category">Teachers who did not meet requirements over the last ten school days</p>
                                    </div>
                                    <table class="table" id="NotReq">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Teacher
                                                </th>
                                                <th>
                                                    Minutes
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.NotReq)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TeacherName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Minutes)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            @section Scripts{
                @*
                    Call DataTables Dependencies
                *@
                <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
                <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
                <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
                <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
                <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
                <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
                <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
                <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

                <script>
                    $(document).ready(function () {
                        var data = {
                            // A labels array that can contain any sort of values
                            labels: @Html.Raw(Json.Encode(Model.Graph.Select(x=>x.TeacherName))),
                            // Our series array that contains series objects or in this case series data arrays
                            series: [@Html.Raw(Json.Encode(Model.Graph.Select(x=>x.Minutes)))]
                        }

                        // Create a new line chart object where as first parameter we pass in a selector
                        // that is resolving to our chart container element. The Second parameter
                        // is the actual data object.
                        new Chartist.Bar('.ct-chart', data);

                        jQuery('#Dashboard').addClass('active');
                    });
                </script>

                <script>
                    $(document).ready(function () {
                        $('#MeetReq').DataTable({
                            dom: 'Bfrtip',
                            lengthMenu: [
                        [20],
                        ['Show all']
                            ],
                            buttons: [
                               'excel', 'pdf'
                            ],
                            "bPaginate": false
                        });
                        $("#MeetReq_filter").addClass("pull-right");
                    });
                    $(document).ready(function () {
                        $('#NotReq').DataTable({
                            dom: 'Bfrtip',
                            lengthMenu: [
                        [20],
                        ['Show all']
                            ],
                            buttons: [
                               'excel', 'pdf'
                            ],
                            "bPaginate": false
                        });
                        $("#NotReq_filter").addClass("pull-right");
                    });
                </script>
            }