@model IEnumerable<PEMinutes.ViewModels.PrincipalViewModel>

@{
    ViewBag.Title = "Reports";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_PrincipalSidebar.cshtml")

}



<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_PrincipalTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <form class="form-inline">

                        @using (Html.BeginForm())
                        {



                            @*<select>

                                @for (var i = 0; i < Model.Count(); i++)
                                {
                                    <option value="@Html.DisplayFor(x => x[i].SchoolTeachers)">@Model.SchoolTeachers</option>
                                }



                            </select>*@


                            @*<div class="form-group pull-left">
                    Filter by Teacher: @Html.DropDownList("_teacher", new List<SelectListItem>()
                                  {

                                  }}, "Change School Site", new { @class = "form-control" })

                </div>*@


                            @*<div class="form-group pull-left">
                    @*Dropdown list of schools in the district
                    <select id="SelectASchool" class="form-control">
                        <option value="">Choose a School</option>
                        @foreach (var item in ViewBag.SelectedTeacherList)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>*@
                            <div class="pull-left">
                                <div class="form-group">
                                    Select a Timeframe: @Html.TextBox("DateRange", null, new { name = "daterange", @class = "form-control" })
                                </div>

                                <div class="form-group" style="margin-left: 30px;">
                                    <input type="submit" class="btn btn-default" value="Submit" />
                                </div>

                            </div>
                        }
                    </form>




                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TeacherName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Minutes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Timestamp)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TeacherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Minutes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Timestamp)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('input[name="daterange"]').daterangepicker();


    </script>
    
    
    }