@model PEMinutes.ViewModels.AdministrationViewModel

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_AdministrationSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_AdministrationTopNav.cshtml")
    }
    @Model.SchoolName
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">This Weeks Minutes</h4>
                            <p class="category">Minutes for each School</p>
                        </div>
                        <div class="content">
                            <div class="ct-chart"></div> @*The graph of the last 2 weeks minutes*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <div class="content">
                                <h4 class="title">Percentage of Requirement</h4>
                                <p class="category">How the schools are measuring up to the 200 minute requirement</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            School Name
                                        </th>
                                        <th>
                                            Meeting Requirements
                                        </th>
                                        <th>
                                            Number of Teachers
                                        </th>
                                        <th>
                                            Percentage Meeting Requirements
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeachCount)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SchoolName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CountTeacher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MeetReq)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Percent)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
                    $(document).ready(function () {
                        var data = {
                            // A labels array that can contain any sort of values
                            labels: @Html.Raw(Json.Encode(Model.TeachCount.Select(x=>x.SchoolName))),
                            // Our series array that contains series objects or in this case series data arrays
                            series: [@Html.Raw(Json.Encode(Model.TeachCount.Select(x=>x.Percent)))]
                        }

                        // Create a new line chart object where as first parameter we pass in a selector
                        // that is resolving to our chart container element. The Second parameter
                        // is the actual data object.
                        new Chartist.Bar('.ct-chart', data);
                        jQuery('#Dashboard').addClass('active');
                    });
        
    </script>






    <script>
        $(document).ready(function() {
            $('#MonthlyView').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            } );
        } );
    </script>
}
