@model IEnumerable<PEMinutes.EF.EnteredPeMinute>

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_AdministrationSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_AdministrationTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">This Weeks Minutes</h4>
                            <p class="category">Minutes for each School</p>
                        </div>
                        <div class="content">
                            <div class="ct-chart"></div> @*The graph of the last 2 weeks minutes*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="header">
                            <div class="content">
                                <h4 class="title">Percentage of Requirement</h4>
                                <p class="category">How the schools are measuring up to the 200 minute requirement</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            School
                                        </th>
                                        <th>
                                            Minutes
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GroupBy(x => x.School))
                                    {
                                        var sum = ((float)item.Sum(x => x.Minutes) / (item.Count() * 200)).ToString("0.00%");
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Key)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => sum)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" id="BehindTeachers">
                        <div class="header">
                            <div class="content">
                                <h4 class="title">Behind Teachers</h4>
                                <p class="category">Number of teachers behind at each school</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            School
                                        </th>
                                        <th>
                                            Teachers
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var school in Model.Where(x => x.Timestamp >= ViewBag.lastweek && x.Timestamp < ViewBag.CurrentWeek).GroupBy(x => x.School))
                                    {
                                        var count = 0;
                                        foreach (var item in school.GroupBy(x => x.TeacherName))
                                        {
                                            var sum = item.Sum(x => x.Minutes);
                                            if (item.Sum(x => x.Minutes) < 100)
                                            {
                                                count++;

                                            }
                                        }
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => school.Key)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => count)
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
                    $(document).ready(function () {
                        var data = {
                            // A labels array that can contain any sort of values
                            labels: @Html.Raw(Json.Encode(@ViewBag.SchoolNames)),
                            // Our series array that contains series objects or in this case series data arrays
                            series: [@Html.Raw(Json.Encode(@ViewBag.SchoolMinutes))]
                        }

                        // Create a new line chart object where as first parameter we pass in a selector
                        // that is resolving to our chart container element. The Second parameter
                        // is the actual data object.
                        new Chartist.Bar('.ct-chart', data);
                        jQuery('#Dashboard').addClass('active');
                    });
        
    </script>






    <script>
        $(document).ready(function() {
            $('#MonthlyView').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            } );
        } );
    </script>
}
