@model PEMinutes.ViewModels.AdministrationViewModel

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_AdministrationSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_AdministrationTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="padding-bottom:30px;">
                        <div class="header">
                            <div class="col-sm-4">
                                <h4 class="title">School Progress</h4>
                                <p class="category">Percentage of teachers meeting requirements</p>
                            </div>
                                <form class="form-inline pull-right">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            @Html.TextBox("SelectedDate", Model.Date, new { id = "adminsearch", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Search" class="btn btn-info" style="margin-left: 20px;" />
                                        </div>
                                        
                                    }
                                    </form>
                        </div>
                        <div class="content">
                            <div class="ct-chart"></div> @*The graph of the last 2 weeks minutes*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <div class="content">
                                <div class="col-sm-3">
                                    <h4 class="title">Percentage of Requirement</h4>
                                    <p class="category">How the schools are measuring up to the 200 minute requirement</p>
                                </div>
                            </div>
                            <table class="table" id="Overview">
                                <thead>
                                    <tr>
                                        <th>
                                            School Name
                                        </th>
                                        <th>
                                            Meeting Requirements
                                        </th>
                                        <th>
                                            Number of Teachers
                                        </th>
                                        <th>
                                            Percentage Meeting Requirements
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeachCount)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SchoolName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MeetReq)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CountTeacher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Percent)%
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
@*
    Call DataTables Dependencies
*@
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function () {




            var data = {
                // A labels array that can contain any sort of values
                labels: @Html.Raw(Json.Encode(Model.TeachCount.Select(x=>x.SchoolName))),
                // Our series array that contains series objects or in this case series data arrays
                series: [@Html.Raw(Json.Encode(Model.TeachCount.Select(x=>x.Percent)))]
            }

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            new Chartist.Bar('.ct-chart', data);

            // Add 'active' class to the sidebar indicating page location
            jQuery('#Dashboard').addClass('active');


            // Date picker on graph. 
            $('#adminsearch').datetimepicker({
                format: 'MM/DD/YYYY',
                daysOfWeekDisabled: [0, 6]
            
            });
        });
    </script>

    <script>
            $(document).ready(function () {
                $('#Overview').DataTable({
                    dom: 'Bfrtip',
                    lengthMenu: [
                [20],
                ['Show all']
                    ],
                    buttons: [
                       'excel', 'pdf'
                    ]
                });
                $("#Overview_filter").addClass("pull-right");
            });

    </script>
}










}
