@model PEMinutes.ViewModels.AdministrationViewModel

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_AdministrationSidebar.cshtml")

}


<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_AdministrationTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="padding-bottom:30px;">
                        <div class="header">
                            <div class="col-sm-4">
                                <h4 class="title">School Progress</h4>
                                <p class="category">Percentage of teachers meeting requirements in the last two weeks</p>
                            </div>
                                <form class="form-inline pull-right">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            @Html.TextBox("SelectedDate", Model.Date, new { id = "adminsearch", value = Model.Date, @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Search" class="btn btn-info" style="margin-left: 20px;" />
                                        </div>
                                        
                                    }
                                    </form>
                        </div>
                        <div class="content">
                            <div id="Percentage" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <div class="content">
                                <div class="col-sm-3">
                                    <h4 class="title">Percentage of Requirement</h4>
                                    <p class="category">How the schools are measuring up to the 200 minute requirement</p>
                                </div>
                            </div>
                            <table class="table" id="Overview">
                                <thead>
                                    <tr>
                                        <th>
                                            School Name
                                        </th>
                                        <th>
                                            Meeting Requirements
                                        </th>
                                        <th>
                                            Number of Teachers
                                        </th>
                                        <th>
                                            Percentage Meeting Requirements
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TeachCount)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SchoolName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MeetReq)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CountTeacher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Percent)%
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
@*
    Call DataTables Dependencies
*@
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="~/Scripts/highcharts/4.2.0/highcharts.js"></script>
<script>
                    $(function () {
                        Highcharts.chart('Percentage', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: null
                            },
                            xAxis: {
                                categories: @Html.Raw(Json.Encode(Model.TeachCount.Select(x=>x.SchoolName))),
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '% of Teachers'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr>' +
                                    '<td style="padding:0"><b>{point.y:.1f}% </b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                showInLegend: false,
                                data: @Html.Raw(Json.Encode(Model.TeachCount.Select(x => x.Percent))),

                            }]
                        });
                    });
</script>


    <script>
            $(document).ready(function () {
                $('#Overview').DataTable({
                    dom: 'Bfrtip',
                    lengthMenu: [
                [20],
                ['Show all']
                    ],
                    buttons: [
                       'excel', 'pdf'
                    ],
                    "bPaginate": false
                });
                $("#Overview_filter").addClass("pull-right");
            });

    </script>
<script type="text/javascript">
        $(function () {
            $('#adminsearch').datetimepicker({
            
                daysOfWeekDisabled: [0, 6],
                format:'MM/DD/YYYY'
            
            });
        });
</script>
}










}
