@model IEnumerable<PEMinutes.EF.SchoolTeachersWithADLogin>

@{
    ViewBag.Title = "Delete";
}

@*@using (Html.BeginForm())
{
    @Html.DropDownList("School", "")
    @Html.DropDownList("Teacher", "")
    @Html.ActionLink("Submit", "Create", new { school = ViewBag.School, teacher = ViewBag.Teacher })
}




<div class="bry-form-group">

    <label class="dark-form-label">
        School  <br />
    </label>
    <div class="input-group">
        <div class="selectholder">

            <select id="SelectASchool" class="form-control">
                @foreach (var item in Model.OrderBy(x => x.Organization_Name).Select(x => x.Organization_Name).Distinct())
                {
                    <option value="@item">@item</option>
                }

            </select>

        </div>
        <div class="loadteachersbutton" onclick="LoadTeachersForSchool();" style="display:none;">
            Load
        </div>


    </div>

</div>

<div class="bry-form-group">

    <div class="form-group">

        <label for="UserName" class="dark-form-label">
            Teacher

        </label>
        <div class="input-group" id="TeacherSelectList">

            <select id="UserName" class="form-control">
                @foreach (var item in Model.OrderBy(x=>x.TeacherLastName))
                {
                    <option value="@item.BADGE_NUM">@item.TeacherLastName, @item.TeacherFirstName</option>
                }
                
            </select>

        </div>
    </div>



</div>*@








<div class="container">
    @*<div class="row">


        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="Index-Header">
                <img src="~/Resources/districtlogo.png" />
            </div>
        </div>


        <div class="row" style="margin-bottom:50px;">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="Index-Title">
                    Physical Education Instruction
                </div>
            </div>


        </div>

    </div>*@



    <div class="row">
        <div class="Index-Form">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <select id="SelectASchool" class="form-control">
                    <option value="">Choose a School</option>
                    @foreach (var item in Model.OrderBy(x => x.Organization_Name).Select(x => x.Organization_Name).Distinct())
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="teacherselect">
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <p class="errormessage">

        </p>
    </div>
</div>


@section scripts{

    <script>

    var currentTeacher = '';

    $("#SelectASchool").on('change', function () {
        var mySchool = $(this).val();
        if (mySchool === "notaschool") {

        } else {
            $("#fademin").fadeIn('fast');
            $.ajax({
                type: 'Get',
                url: '@Url.Action("GetTeachers","Substitute")',
                data: { schoolname: mySchool },
                success: function (data) {
                    $("#teacherselect").html(data);
                },
                error: function (data) {
                    $(".errormessage").text('There was an error processing your request.');
                }
            });
        }
    });

        $("#myTeacher").on('change', function () {
            var mySchool = $(this).val();
            if (mySchool === "notaschool") {

            } else {
                $("#fademin").fadeIn('fast');
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("GetTeachers","Substitute")',
                    data: { schoolname: mySchool },
                    success: function (data) {
                        $("#teacherselect").html(data);
                    },
                    error: function (data) {
                        $(".errormessage").text('There was an error processing your request.');
                    }
                });
            }
        });
    </script>

}