@model PEMinutes.ViewModels.SubstituteViewModel

@{
    ViewBag.Title = "Substitute PE Minutes";   
}

<div class="container">
    <div class="content">
        <div class="col-sm-12 card" style="margin-top: 40px; padding-bottom: 20px;">
            <div class="header">
                <h4 class="title">Location</h4>
                <p class="category">Let's start with some basic information</p>
            </div>
            <div class="content">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    @*Dropdown list of schools in the district*@
                    <select id="SelectASchool" class="form-control">
                        <option value="">Where are you?</option>
                        @foreach (var item in Model.SchoolList)
                        {
                            <option value="@item.SchoolName">@item.SchoolName</option>
                        }
                    </select>
                </div>
                @* this is an empty div for loading the _GetTeachers partial when a school is selected *@
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div id="teacherselect">
                    </div>
                </div>
                @* this is an empty div for loading the error message if an error is encountered *@
                <div class="row">
                    <p class="errormessage"></p>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back", "Index", new { Controller = "Authentication", action = "Index" }, new { @class = "btn" })
        </div>
    </div>
</div>




@section Scripts{

    <script>
        // When you select a school from the dropdown list this function will get a list of teachers from that school
        $("#SelectASchool").on('change', function () {
            var SelectedSchool = $(this).val();
            if (SelectedSchool === "notaschool") {

            } else {
                $("#fademin").fadeIn('fast');
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("_GetTeachers","Substitute")',
                    data: { SelectedSchool: SelectedSchool },
                    success: function (data) {
                        $("#teacherselect").html(data);
                    },
                    error: function (data) {
                        $(".errormessage").text('There was an error processing your request.');
                    }
                });
            }
        });


        // When you select a teacher name this function will take you to the create page and pass in the badge number
        function LoadSubMinutesCreate(element) {
            var badge = $(element).val();
            $.ajax({
                type: 'Get',
                url: '@Url.Action("Create", "Substitute")',
                data: { selectedbadge: badge },
                beforeSend: function () {

                },
                success: function (data) {
                    var url = '/Substitute/Create?selectedbadge=' + badge;
                    window.location.href = url;
                },
                error: function (data) {
                    $(".errormessage").text('There was an error processing your request.');
                }
            });
        };
    </script>

}
