@model PEMinutes.ViewModels.SubstituteViewModel
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.SubstituteName, "Your Full Name: ", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubstituteName, new { htmlAttributes = new { id = "SubName", @class = "form-control" } }) @* Form for putting in the name of the Substitute *@
                    @Html.ValidationMessageFor(model => model.SubstituteName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.InstructionTime, "Instruction time: ", htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InstructionTime, new { htmlAttributes = new { id = "instruction", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InstructionTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Minutes, "Minutes: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Minutes, new { htmlAttributes = new { id = "Minutes", @class = "form-control" } }) @* Form for putting in the minutes the activity lasted *@
                    @Html.ValidationMessageFor(model => model.Minutes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Activity, "Activity: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Activity, new { htmlAttributes = new { id = "Activity", @class = "form-control" } }) @* Form for putting in the activity the students participated in *@
                    @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <input id="submit" type="submit" value="Submit" class="btn btn-info btn-lg  btn-fill pull-right" /> @* Alerting the sub that their minutes have been entered when they hit the create button *@
                </div>
            </div>
        </div>
    }


@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {


        $('#instruction').datetimepicker();


        $("#subform").validate({
            submitHandler: function (form) {
                alert("Success");
            }
        });
        $('#submit').click(function () {
            if ($('#SubName').val() != '' && $('#Minutes').val() != '' && $('#Activity').val() != '' && $('#instruction').val() != '') {
                alert('Success');
            }
        });
    })

</script>

