@model IEnumerable<PEMinutes.EF.SubMinute>

@{
    ViewBag.Title = "Substitute Approvals";
}
<div class="col-sm-12 panel">
    <div class="panel-body">
        <div class="col-sm-12 col-lg-3 center-block">
            <h2> Approve SubMinutes </h2>
        </div>
        <div class="col-sm-12 col-lg-9">



        </div>



        <table class="table table-responsive col-sm-12">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubstituteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Minutes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Activity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="SubstituteName" class="col-lg-2">
                        @Html.DisplayFor(modelItem => item.SubstituteName)
                    </td>
                    <td id="Minutes" class="col-lg-1">
                        @Html.DisplayFor(modelItem => item.Minutes)
                    </td>

                    <td id="Activity">
                        @Html.DisplayFor(modelItem => item.Activity)
                    </td>
                    <td id="Timestamp" class="col-lg-2">
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td id="SubID">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td class="col-lg-1">
                        <div class="btn-group btn-group-sm">
                            <input type="submit" value="Create" class="btn btn-default" onclick="CreateTeacherMinsFromSubMins($(this));UpdateSub($(this));" />
                            @*@Html.ActionLink("Approve", "Details", new {  id = item.ID }, new { onclick = "CreateTeacherMinsFromSubMins($(this));", @class = "btn btn-default" })*@
                        </div>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    function CreateTeacherMinsFromSubMins(element) {
        var SelectedSubstituteName = $("#SubstituteName").html();
        var SelectedMinutes = $("#Minutes").html();
        var SelectedActivity = $("#Activity").html();
        var SelectedTimestamp = $("#Timestamp").html();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("MoveSubToTeacher", "Teacher")',
            data: { SelectedSubstituteName: SelectedSubstituteName, SelectedMinutes: SelectedMinutes, SelectedActivity: SelectedActivity, SelectedTimestamp: SelectedTimestamp },
            success: function (data) {
                alert("success");
            },
            error: function (data) {
                alert("error");
            }
        });
    };

    function UpdateSub() {
        var SelectedID = $("#SubID").html();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Approve", "Teacher")',
            data: { SelectedID: SelectedID },
            success: function (data) {
                alert("success");
            },
            error: function (data) {
                alert("error");
            }
        });
    };
</script>