@model IEnumerable<PEMinutes.EF.SubMinute>

@{
    ViewBag.Title = "Substitute Approvals";
}
<div class="col-sm-12 panel">
    <div class="panel-body">
        <div class="col-sm-12 col-lg-3 center-block">
            <h2> Approve SubMinutes </h2>
        </div>
        <div class="col-sm-12 col-lg-9">



        </div>



        <table class="table table-responsive col-sm-12">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubstituteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Minutes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Activity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Timestamp)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubstituteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Minutes)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Activity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td class="col-lg-1">
                        <div class="btn-group btn-group-sm">
                            @Html.ActionLink("Approve", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                        </div>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>