@model PEMinutes.EF.EnteredPeMinute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnteredPeMinute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubstituteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubstituteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproveTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveTime)
        </dd>

    </dl>
</div>
<hr />
<div class="btn-group" style="padding-bottom: 20px;">
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
</div>
