@model PEMinutes.EF.EnteredPeMinute

@{
    ViewBag.Title = "Details";
}
@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_TeacherSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_TeacherTopNav.cshtml")
    }
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="content">
                        <div class="header">
                            <h4 class="title">Details</h4>
                            <p class="category">
                                Details
                            </p>
                        </div>
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Teacher:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TeacherName)
                                </dd>

                                <dt>
                                    Minutes:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Minutes)
                                </dd>

                                <dt>
                                    Badge Number:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BadgeNumber)
                                </dd>

                                <dt>
                                    School:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.School)
                                </dd>

                                <dt>
                                    Grade:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Grade)
                                </dd>

                                <dt>
                                    Activity:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Activity)
                                </dd>

                                <dt>
                                    Time:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Timestamp)
                                </dd>
                                @if (Model.SubstituteName != null)
                                {

                                    <dt>
                                        Substitute Name:
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.SubstituteName)
                                    </dd>

                                    <dt>
                                        Approved:
                                    </dt>

                                    if (Model.IsApproved == 1)
                                    {
                                        <dd>Yes</dd>

                                    }
                                    else
                                    {
                                        <dd>Needs Approval</dd>
                                    }

                                    <dt>
                                        Approved By:
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ApprovedBy)
                                    </dd>

                                    <dt>
                                        Approved At:
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ApproveTime)
                                    </dd>
                                }


                            </dl>
                        </div>
                        <hr />
                        <div class="btn-group" style="padding-bottom: 20px;">
                            @Html.ActionLink("Back", "Manage", null, new { @class = "btn btn-default" })
                            @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
    }
