@model IEnumerable<PEMinutes.EF.EnteredPeMinute>

@{
    ViewBag.Title = "Dashboard";
}


@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_TeacherSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_TeacherTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-sm-12">
                    
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-clipboard"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Minutes this Week</p>
                                        @ViewBag.CurrentWeekMinutes  @*This will display the current weeks minutes for the logged in user*@
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> @Html.ActionLink("View All Minutes", "Manage", "Teacher")
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-pencil-alt2"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Sub Approvals</p>
                                        @ViewBag.NeedsApproval @*This will display the minutes needing approvals*@
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> @Html.ActionLink("View All Sub Approvals", "Approve", "Teacher")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Last Two Weeks</h4>
                            <p class="category">Minutes over the last two weeks</p>
                        </div>
                        <div class="content">
                            <div class="ct-chart"></div> @*The graph of the last 2 weeks minutes*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            // building the 'data' variable
            var data = {
                // A labels to display the last two weeks of dates
                labels: [
                    @Html.Raw(Json.Encode(@ViewBag.FourteenDays)),
                    @Html.Raw(Json.Encode(@ViewBag.ThirteenDays)),
                    @Html.Raw(Json.Encode(@ViewBag.TwelveDays)),
                    @Html.Raw(Json.Encode(@ViewBag.ElevenDays)),
                    @Html.Raw(Json.Encode(@ViewBag.TenDays)),
                    @Html.Raw(Json.Encode(@ViewBag.NineDays)),
                    @Html.Raw(Json.Encode(@ViewBag.EightDays)),
                    @Html.Raw(Json.Encode(@ViewBag.SevenDays)),
                    @Html.Raw(Json.Encode(@ViewBag.SixDays)),
                    @Html.Raw(Json.Encode(@ViewBag.FiveDays)),
                    @Html.Raw(Json.Encode(@ViewBag.FourDays)),
                    @Html.Raw(Json.Encode(@ViewBag.ThreeDays)),
                    @Html.Raw(Json.Encode(@ViewBag.TwoDays)),
                    @Html.Raw(Json.Encode(@ViewBag.Yester)),
                    @Html.Raw(Json.Encode(@ViewBag.Now))
                ],
                // Our series array that contains the minutes
                // for the teacher over the last two weeks
                series: [[
                    @Html.Raw(Json.Encode(@ViewBag.FourteenDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.ThirteenDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.TwelveDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.ElevenDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.TenDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.NineDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.EightDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.SevenDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.SixDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.FiveDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.FourDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.ThreeDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.TwoDaysAgo)),
                    @Html.Raw(Json.Encode(@ViewBag.Yesterday)),
                    @Html.Raw(Json.Encode(@ViewBag.Today))
                ]]
            }

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual 'data' object.
            new Chartist.Bar('.ct-chart', data);
        });
    </script>

<script>jQuery('#Dashboard').addClass('active');</script>
}
