@model IEnumerable<PEMinutes.EF.EnteredPeMinute>

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-clipboard"></i>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="numbers">
                            <p>Minutes this Week</p>
                            @Model.Sum(x => x.Minutes)
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-reload"></i> Updated now
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-success text-center">
                            <i class="ti-pencil-alt2"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Sub Approvals</p>
                            @ViewBag.NeedsApproval
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <div class="stats">
                        <i class="ti-calendar"></i> Last day
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sol-sm-5 col-md-5 col-lg-10">
        <div class="card">
            <div class="header">
                <h4 class="title">Last Week</h4>
                <p class="category">Minutes Last Week</p>
            </div>
            <div class="content">
                <div class="ct-chart ct-perfect-fourth"></div>
     
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        



        function GetData() {
            $.ajax({
                url: '@Url.Action("GetMinutesGraph", "Teacher")',
                type: 'GET',
                success: function (data) {
                    alert(data)
                },
                error: function () {
                    alert("error");
                }
            });
        }
        function GetTimes() {
            $.ajax({
                url: '@Url.Action("GetDateGraph", "Teacher")',
                type: 'GET',
                success: function (data) {
                    var re = /-?\d+/;
                    var m = re.exec(data);
                    var d = new Date(parseInt(m[0]));
                    return d;
                },
                error: function () {
                    alert("error");
                }
            });
        }
    </script>
    <script>





        $(document).ready(function () {



            var data = {
                // A labels array that can contain any sort of values
                labels: [@Html.Raw(Json.Encode(@ViewBag.SevenDays)),@Html.Raw(Json.Encode(@ViewBag.SixDays)),@Html.Raw(Json.Encode(@ViewBag.FiveDays)),@Html.Raw(Json.Encode(@ViewBag.FourDays)),@Html.Raw(Json.Encode(@ViewBag.ThreeDays)),@Html.Raw(Json.Encode(@ViewBag.TwoDays)),@Html.Raw(Json.Encode(@ViewBag.Yester)),@Html.Raw(Json.Encode(@ViewBag.Now))],
                // Our series array that contains series objects or in this case series data arrays
                series: [[@Html.Raw(Json.Encode(@ViewBag.SevenDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.SixDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.FiveDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.FourDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.ThreeDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.TwoDaysAgo)),@Html.Raw(Json.Encode(@ViewBag.Yesterday)),@Html.Raw(Json.Encode(@ViewBag.Today))]]
            }

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            new Chartist.Bar('.ct-chart', data);
        });
    </script>


}
