@model PEMinutes.ViewModels.TeacherIndexViewModel

@{
    ViewBag.Title = "Dashboard";
}


@if (Request.IsAuthenticated)
{
    @Html.Partial("~/Views/Shared/_TeacherSidebar.cshtml")

}
<div class="main-panel">
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Shared/_TeacherTopNav.cshtml")
    }
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-sm-12">
                    
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-clipboard"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Ten Day Minutes Total</p>
                                        @Model.Minutes  @*This will display the current weeks minutes for the logged in user*@
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> @Html.ActionLink("View All Minutes", "Manage", "Teacher")
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-pencil-alt2"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Sub Approvals</p>
                                        @ViewBag.NeedsApproval @*This will display the minutes needing approvals*@
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i> @Html.ActionLink("View All Sub Approvals", "Approve", "Teacher")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Overview</h4>
                            <p class="category">Minutes over the last two weeks</p>
                        </div>
                        <div class="content">
                            <div id="MyMinutes" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

<script src="~/Scripts/highcharts/4.2.0/highcharts.js"></script>
<script>
                    $(function () {
                        Highcharts.chart('MyMinutes', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: null
                            },
                            xAxis: {
                                categories: @Html.Raw(Json.Encode(Model.MinCount.Select(x => x.Date))),
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '# of Minutes'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr>' +
                                    '<td style="padding:0"><b>{point.y:.1f} Minutes </b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                showInLegend: false,
                                data: @Html.Raw(Json.Encode(Model.MinCount.Select(x=>x.Minutes))),
                                zones: [{
                                    color: '#7CE4FE'
                                }],
                            }]
                        });
                    });
</script>



<script>jQuery('#Dashboard').addClass('active');</script>
}
